<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="css/styles.css"/> <!-- static path for public folder is already set in app.js -->
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <article class="widget">
                <form class="weatherLocation"><input placeholder="location..." type = "text"/><button>Seach</button>
                </form>
                <div class="weatherIcon"><i class="wi wi-day-cloudy"></i></div>
                <div class="weatherInfo">
                    <div class="temperature"><span></span></div>
                    <div class="description">    
                        <div class="weatherCondition"></div>    
                        <div class="place"></div>
                    </div>
                </div>
                <div class="date"></div>
            </article>
        </div>
        <div class="copyright">
            <a href="https://www.linkedin.com/in/abhi7585/" target="_blank">Linkedln</a> <a href="https://github.com/abhi7585" target="_blank">GitHub</a> <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=abhi7585tripathi@gmail.com" target="_blank">Mail</a> @Abhishek Tripathi
        </div>
        <script src="js/app.js"></script> <!-- absolute path -->
    </body>
</html>